@import '~@angular/material/theming';

@include mat-core();

$hacuBase-primary: mat-palette($mat-indigo);
$hacuBase-accent: mat-palette($mat-pink, A200, A100, A400);

$hacuBase-warn: mat-palette($mat-red);

$hacuBase-theme: mat-light-theme((
  color: (
    primary: $hacuBase-primary,
    accent: $hacuBase-accent,
    warn: $hacuBase-warn,
  )
));

@include angular-material-theme($hacuBase-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
